# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build output
/build/
/dist/

results*/
*.ckpt/
Beluga_full/
Beluga_full_repeat/
BRACS_3Class/
Bracs_baseline/
data_cross_val_3_classes_Bracs/
data_cross_val_8_classes_Beluga
logs*/
logs_*/
AML_*
Beluga_*
logs_*
logs_*